.git
.tox
.idea
.ipynb_checkpoints
.pytest_cache
.vscode
coverage
sil_advantage.egg-info
junitxml_report
*.pyc
*.pyo
*.pyd
__pycache__
.gitignore
.coverage
.coveragerc
.gitattributes
.pypirc
CHANGELOG.md
env.sh
*.ipynb
MANIFEST.in
schema.json
tox.ini
tests
.pip.conf
.dockerignore
*.un~
Dockerfile
